<% if notice %>
 <p class="alert fade in" ><%= notice %></p>
<% end %>

<h1><%= t('.tienda')%></h1>
<div id="box">
 <% @enterprises.each do |enterprise| %>
     <% image_tag(enterprise.logo_url) %>
     <% enterprise.name %>
        <% button_to t('.see_products'), enterprise, :method => :get %>
        <%= link_to image_tag(enterprise.logo_url, :width => 90, :height => 90, :class => 'shopbut'), enterprise %>
 <% end %>
<br />
<br />
<br />
</div>
