<% if notice %>
 <div class="alert alert-block alert-danger fade in" ><%= notice %>
    <button data-dismiss="alert" class="close" type="button">×</button>
 </div>
<% end %>

<div id="welcome">
        <% image_tag("/images/hoopy_website.#{I18n.locale}.png") %>

	<% if  flash[:alert] %>
		<p id="notice"><%= flash[:alert] %></p>
	<% end %>

  <br />

	<%= form_tag do %>
		<fieldset>
			<legend><%=t('.signin_with_hoopy')%></legend>

			<div>
				<label for="nickname"><%=t('.username')%>:</label>
				<%= text_field_tag :nickname, params[:name] %>
			</div>	

			<div>
				<label for="password"><%=t('.password')%>:</label>
				<%= password_field_tag :password, params[:password] %>
			</div>	

			<div>
				<%= submit_tag "Login", :class => "btn btn-success btn-large" %>
			</div>
		</fieldset>
	<% end %>
  <br />

           <p><a href="/auth/twitter" class="btn btn-primary btn-large signup"><i class="icon-twitter-sign"></i><%= t('.signin_with_twitter') %></a></p>
           <p><a href="/auth/facebook" class="btn btn-primary btn-large signup" disabled="true" onclick="return false"><i class="icon-facebook-sign"></i><%= t('.signin_with_facebook') %></a></p>

</div>


