¡Hola <%= @order.beneficiary.upcase %>!

<%= @order.user.name.capitalize %> te ha enviado un Huupy Gift:

<%= render @order.line_items %>

Si no puedes ver el código QR, Ingresa aqui para ver los detalles:

<%= @url %>


Que tengas un gran día

El equipo de Huupy.
