<h1>Welcome</h1>

It's <%= Time.now %>

<p>We have <strong><%= pluralize(@total_orders, "order") %></strong>. </p>

<h1>Administraci&oacute;n del Sitio</h1>

	<%= link_to 'Admin Home', admin_path %><br />
	<%= link_to 'Admin Products', products_path %><br />
	<%= link_to 'Admin Users', users_path %><br />
	<%= link_to 'Admin Orders', orders_path %><br />
	<%= link_to 'Admin Enterprises', enterprises_path %><br />
	<%= link_to 'Admin Betatesters', betatesters_path %><br />
	
	
