<%= form_for(@betatester) do |f| %>
  <% if @betatester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@betatester.errors.count, "error") %> prohibited this betatester from being saved:</h2>

      <ul>
      <% @betatester.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
