<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huupy Mobile Sampling</title>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="wSw3UbbfWPetsOu8TB/24aeC37a/NnSXtB2iZ1cg9w0=" name="csrf-token" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <link href="/assets/bootstrap.min.css?body=1" media="all" rel="stylesheet" type="text/css" />
    <link href="/assets/bootstrap-responsive.min.css?body=1" media="all" rel="stylesheet" type="text/css" />
    <link href="/assets/isotope.css?body=1" media="all" rel="stylesheet" type="text/css" />
    <link href="/assets/font-awesome.css?body=1" media="all" rel="stylesheet" type="text/css" />
    <link href="/assets/hoopy.css?body=1" media="all" rel="stylesheet" type="text/css" />
    <link href="/assets/jquery-ui-1.8.24.custom.css?body=1" media="all" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery-1.8.0.min.js?body=1" type="text/javascript"></script>
    <script src="/assets/jquery-ui-1.8.24.custom.js?body=1" type="text/javascript"></script>
    <link href="/favicon.ico" rel="shortcut icon">
</head>
<body>
<!-- Header puesto manualmente porque el Landing requiere que no tenga LAYOUT -->

<h1>Listing betatesters</h1>

<table>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @betatesters.each do |betatester| %>
  <tr>
    <td><%= betatester.email %></td>
    <td><%= link_to 'Show', betatester, :class => "btn btn-large" %></td>
    <td><%= link_to 'Edit', edit_betatester_path(betatester), :class => "btn btn-warning btn-large" %></td>
    <td><%= button_to 'Destroy', betatester, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger btn-small" %></td>
    <td><%= betatester.created_at %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Betatester', new_betatester_path, :class => "btn btn-success btn-large" %>


<!-- Footer puesto manualmente porque el Landing requiere que no tenga LAYOUT -->
</body>
</html>
