<!DOCTYPE html>
<html>
<head>
 <title><%= t('.huupy_landing_title') %></title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style type="text/css"></style>
 <%= stylesheet_link_tag "/css/bootstrap.min", :media => "all" %>
 <%= stylesheet_link_tag "/css/bootstrap-responsive.min", :media => "all" %>
 <%= stylesheet_link_tag "/css/landing.css", :media => "all" %>
 <%= stylesheet_link_tag "/css/normalize.css", :media => "all" %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40477273-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body id="main_page">

<div class="menu-top">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <div class="homesite"> <a href="#main_page" target="_self">HUUPY - MOBILE SAMPLING</a> </div>
      </div>
      <div class="span8">
        <nav>
          <ul>
            <li class="operation"><a href="#operation" target="_self"><%= t('.operation').upcase %></a></li>
            <li class="partners"><a href="#partners" target="_self">PARTNERS</a></li>
            <li class="contact"><a data-rel="tooltip" href="#maincontact_mail" data-toggle="modal"  target="_blank"><%= t('.contact').upcase %></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--menu top-->

<section id="main">
  <div class="lang">
     <a data-rel="tooltip" <% if I18n.locale != :es %>class="b"<% end %> href="/es" data-original-title="Espa&ntilde;ol" data-placement="left" target="_self">Es</a>
     <a data-rel="tooltip" <% if I18n.locale != :en %>class="b"<% end %> href="/en" data-original-title="English" data-placement="left" target="_self">En</a>
  </div>

  <div class="container">
    <div class="row-fluid">
      <header>
        <div class="red_decoration_left hidden-phone"> <img src="img/red_points.png"> </div>
        <div class="red_decoration_right hidden-phone"> <img src="img/red_points.png"> </div>
        <img src="img/logo_beta.png" alt="huupy.com" title="huupy.com">
      </header>


                <% if notice %>
                 <div class="alert alert-success" ><%= notice %>
                    <button data-dismiss="alert" class="close" type="button">x</button>
                 </div>
                <% end %>

                <% if alert %>
                 <div class="alert alert-error" ><%= alert %>
                    <button data-dismiss="alert" class="close" type="button">x</button>
                 </div>
                <% end %>

      <article class="land_info"> <img src="img/000.png" title="huupy app" alt="huupy app">
        <div class="text_icons">
          <div><%= t('.share') %></div>
          <div><%= t('.comment') %></div>
          <div><%= t('.enjoy') %></div>
        </div>
      </article>
      <article>
        <div class="row-fluid">
          <div class="span12">
            <h2><%= t('.line4') %>.</h2>

          </div>
          <div class="span12">
            <h3><%= t('.line5') %>.</h3>
          </div>
          <div class="span12">
            <div class="sign_in_box">
              <h4><%= t('.leave_your_email') %>: </h4>
              <div class="red_decoration_left hidden-phone"> <img src="img/red_points.png"> </div>
              <div class="red_decoration_right hidden-phone"> <img src="img/red_points.png"> </div>

		<%= form_for(@betatester) do |f| %>
		  <% if @betatester.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@betatester.errors.count, "error") %> prohibited this betatester from being saved:</h2>
		      <ul>
		      <% @betatester.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

	      <div class="put_sector row-fluid">
	        <%= f.text_field :email, :class => 'enter_mail', :placeholder => t('.my_email_is'), :autocomplete => 'off' %>
  	        <%= f.submit t('.joinus'), :class => 'send_btn', :disable_with => 'Ok' %>
              </div>
		<% end %>

            </div> <!-- .sign_in_box -->
          </div> <!-- .span12 -->
        </div> <!-- .row-fluid -->
      </article>
    </div> <!-- .row-fluid -->
  </div> <!-- .container -->
</section>

<section id="operation">
  <div class="container">
    <header>
      <h2><%= t('.operation')%></h2>
    </header>
    <article>
      <div class="mobile_pic"><img src="img/cel1.jpg"></div>
      <div class="stores">
        <div class="row-fluid">
          <div class="span6">
            <div class="left">
              <div class="store1">
                <div class="top_curve"> <%= t('.soon_available') %> </div>
                <img src="img/appstore.jpg" alt="app store" title="app store"> </div>
            </div>
          </div>
          <div class="span6">
            <div class="right">
              <div class="store2">
                <div class="top_curve"> <%= t('.soon_available') %> </div>
                <img src="img/playstore.jpg" alt="play store" title="play store"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="legends">
        <div class="one"><%= t('.paso_1') %>.</div>
        <div class="two"><%= t('.paso_2') %>.</div>
      </div>
      <div class="legends2">
        <div class="three"><%= t('.paso_3') %>.</div>
      </div>
    </article>
    <footer>
      <h4><%= t('.paso_final') %>.</h4>
    </footer>
  </div>
</section>

<section id="partners">
  <div class="partners_decoration">
    <div class="container">
      <header>
        <h2>Partners</h2>
        <h3><%= t('.tryvertising_1') %> <br>
          <%= t('.tryvertising_2') %>.</h3>
      </header>
    </div>
  </div>
  <div class="container">
    <article>
      <div class="row-fluid">
        <div class="span4"> <img src="img/icon_partner01.png" alt="sampling" title="sampling"> <span>Sampling</span>
          <p><%= t('.sampling_desc')%>.</p>
        </div>
        <div class="span4"> <img src="img/icon_partner02.png" alt="planning" title="planning"> <span><%= t('.marketresearch')%></span>
          <p><%= t('.marketresearch_desc')%>.</p>
        </div>
        <div class="span4"> <img src="img/icon_partner03.png" alt="clients" title="clients"> <span><%= t('.loyalty')%></span>
          <p><%= t('.loyalty_desc')%>.</p>
        </div>
      </div>
    </article>
    <div class="join_partners">
      <div class="row-fluid">
        <h3><%= t('.wanna_join') %></h3>
        <h4><%= t('.be_part_of') %>.</h4>
        <br>
        <a data-rel="tooltip" href="#maincontact_mail" data-toggle="modal"  target="_blank" class="btn btn-inverse btn-large hidden-phone"><%= t('.join_as_partner')%></a> 
        <a data-rel="tooltip" href="#maincontact_mail" data-toggle="modal"  target="_blank" class="btn btn-inverse visible-phone"><%= t('.join_as_partner')%></a> 
      </div>
    </div>
  </div>
  </div>
</section>

<section id="contacto"></section>

<div id="maincontact_mail" class="modal hide fade" style="display: none;" aria-hidden="true">
  <div class="modal">
    <div class="header_modal">
      <p><%= t('.send_message_title') %></p>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="signs"></div>
    </div>
    <div class="info_message">
      <%= form_tag("contactform", :method => "post") do %>
       <div class="data">
        <p><%= t('.l_name') %>:</p>
        <%= text_field_tag :f_nombre, '', :placeholder => t('.enter_name') %>
        <p><%= t('.l_email') %>:</p>
        <%= text_field_tag :f_email, '', :placeholder => t('.enter_email') %>
       </div><!-- .data -->
       <div class="message">
        <p><%= t('.l_message') %>:</p>
        <%= text_area_tag :f_mensaje, '', :placeholder => t('.enter_message') %>
        <div class="put_sector">
      <%= submit_tag t('.send'), :class => "send_btn_form" %>
        </div>
       </div><!-- .message -->
      <% end %>
    <div class="clearfix"></div>
    </div><!-- .info_message -->
  </div><!-- .modal -->
</div><!-- #maincontact_mail -->


<footer id="main_footer">
  <div class="container">
    <div class="info_top">
      <div class="made_in">
        <p><%= t('.made') %> <span>@</span> <%= t('.santiago_with') %></p>
        <a data-rel="tooltip" href="http://startupchile.org" target="_blank" data-original-title=<%= t('.visit_sup')%> data-placement="right"> <img src="img/startup_logo.png" alt="SUP Logo"></a> 
      </div><!-- .made_in -->
      <div class="socialize">
        <p><%= t('.contact') %></p>
        <a data-rel="tooltip" href="https://twitter.com/Huupy" target="_blank" class="twit" data-original-title=<%= t('.twitter_follow')%> data-placement="top"></a> 
        <a data-rel="tooltip" href="#maincontact_mail" data-toggle="modal"  target="_blank" class="mail" data-original-title=<%= t('.send_message')%> data-placement="top"></a>
        <a data-rel="tooltip" href="http://www.facebook.com/pages/Huupy/158210974254730?fref=ts" data-toggle="modal"  target="_blank" class="likefb" data-original-title=<%= t('.likefb')%> data-placement="top"></a> 
        <div class="clearfix"></div>
      </div><!-- .socialize -->
      <div class="clearfix"></div>
    </div><!-- .info_top -->
    <div class="info_bottom">
      <div class="credits">
        <p><%= t('.rights_reserved')%> | &copy; Huupy 2013</p>
      </div>
      <div class="suppliers">
        <p><%= t('.is_provider') %></p>
        <p><%= t('.write_to') %> <a href="mailto:hcampos@huupy.com" target="_blank">partners@huupy.com</a></p>
      </div><!-- .suppliers -->
      <div class="clearfix"></div>
    </div><!-- .info_bottom -->
  </div><!-- .container -->
</footer>

<%= javascript_include_tag "/js/jquery-1.8.0.min" %>
<%= javascript_include_tag "/js/jquery-ui-1.8.24.custom.min" %>
<%= javascript_include_tag "/js/bootstrap.min" %>

<script>
   $('.lang').tooltip({
      selector: "a[data-rel=tooltip]"
     })

   $('.socialize').tooltip({
      selector: "a[data-rel=tooltip]"
     })
	 
   $('.made_in').tooltip({
      selector: "a[data-rel=tooltip]"
     })
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36399656-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
$("document").ready(function() {			
	$('.operation').click(function(){
		$('html, body').animate({
			scrollTop: $("#operation").offset().top
		}, 1000);				   
	 });
	
	$('.partners').click(function(){
		$('html, body').animate({
			scrollTop: $("#partners").offset().top
		}, 1000);				   
	 });
				
	$('.contact').click(function(){
		$('html, body').animate({
			scrollTop: $("#contacto").offset().top
		}, 1000);				   
	 });
});
</script>

</body>
</html>
