<!DOCTYPE html>
<html>
<head>
<title><%= t('.huupy_landing_title') %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css"></style>
 <%= stylesheet_link_tag "/css/bootstrap.min", :media => "all" %>
 <%= stylesheet_link_tag "/css/bootstrap-responsive.min", :media => "all" %>
 <%= stylesheet_link_tag "/css/landing.css", :media => "all" %>
 <%= stylesheet_link_tag "/css/normalize.css", :media => "all" %>
</head>

<body>
<div id="wrapper">
  <div class="centers">
    <div class="row-fluid">
      <div class="span12">
        <div class="span4">
          <aside> <img src="img/mobile2.png" class="hidden-phone" > 
          <img src="img/mobile.png" class="tiny_cel visible-phone"> 
		  </aside>
        </div>
        <div class="span8">
          <section>
            <header><img src="img/logo.png" class="hidden-phone"></header>
            <article class="land_info">
 		<br />
 		<br />
 		<br />
 		<br />
              <img src="img/divider.png" class="divider" alt="Divider">
              <h2><%= t('.listo') %></h2>
              <img src="img/divider.png" class="divider" alt="Divider">

<% if notice %>
 <div class="alert alert-success" ><%= notice %>
    <button data-dismiss="alert" class="close" type="button">x</button>
 </div>
<% end %>

<% if alert %>
 <div class="alert alert-error" ><%= alert %>
    <button data-dismiss="alert" class="close" type="button">x</button>
 </div>
<% end %>

            </article>
          </section>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>
</div>
</div>

<div id="maincontact_mail" class="modal hide fade in" style="display: none; ">
  <div class="modal">
    <div class="header_modal">
      <p>Env&iacute;a tu mensaje</p>
      <div class="signs"></div>
    </div>
    <div class="info_message">

    <%= form_tag("contactform", :method => "post") do %>
     <div class="data">
      <p><%= t('.l_name') %>:</p>
      <%= text_field_tag :f_nombre, '', :placeholder => t('.enter_name') %>

      <p><%= t('.l_email') %>:</p>
      <%= text_field_tag :f_email, '', :placeholder => t('.enter_email') %>

     </div>

     <div class="message">
      <p><%= t('.l_message') %>:</p>
      <%= text_area_tag :f_mensaje, '', :placeholder => t('.enter_message') %>
      <div class="put_sector">
    <%= submit_tag t('.send'), :class => "send_btn_form" %>
      </div>
     </div><!-- .data -->
    <% end %>

     <div class="clearfix"></div>
    </div><!-- .info_message -->
  </div><!-- .modal -->
</div><!-- #maincontact_mail -->

<script src="bootstrap/jquery-1.8.0.min.js"></script>
<script src="bootstrap/jquery-ui-1.8.24.custom.min.js"></script>
<script src="bootstrap/bootstrap.min.js"></script>
<script>
   $('.lang').tooltip({
      selector: "a[rel=tooltip]"
     })

   $('.socialize').tooltip({
      selector: "a[rel=tooltip]"
     })
	 
   $('.made_in').tooltip({
      selector: "a[rel=tooltip]"
     })
</script>
</body>
</html>
