 @font-face {
 font-family: sans;
 src: url(pts55f.ttf);
}
 @font-face {
 font-family: sans_italic;
 src: url(PTS56F.ttf);
}
 @font-face {
 font-family: serif1;
 src: url(Museo_Slab_1.otf);
}
 @font-face {
 font-family: serif2;
 src: url(Museo_Slab_2.otf);
}
html, body {
	height:100%;
	padding: 0 !important;
	margin: 0 !important;
}
#main_page .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	max-width: 950px;
}
body {
	background-color:#ee4f29;
	background-image: url('../img/bg.jpg');
	line-height: inherit;
	text-align:center;
}
a {
	color: orange;
	color:#FFF;
}
a:hover {
	color: white;
}
*:focus {
	outline: none;
}
.menu-top {
	color:#FFF;
	font-family:serif2;
	font-size:90%;
	background-color:#d13616;
	position:fixed;
	width:100%;
	z-index:999;
	-webkit-box-shadow:  0px 0px 2px 0px #333;
	box-shadow:  0px 0px 2px 0px #333;
}
.menu-top ul {
	margin-bottom:0;
}
.menu-top ul li {
	display:inline;
	list-style-type:none;
}
.menu-top a {
	color:#FFF;
}
.menu-top a:hover {
	color:#FFF;
	text-decoration:none;
}
.menu-top .homesite {
	background-color:#e34c1f;
	padding:8px;
}
.menu-top nav {
	/*	float:right;*/
	padding:8px 0;
	text-align:right;
}
.menu-top nav a {
	margin:0 10px;
}
.sign {
	float:left;
	width:10%;
}
.lang {
	position:absolute;
	top:40px;
	right:0;
	width:45px;
	height:100px;
}
.lang a {
	padding: 12px 0 0 10px;
	text-decoration:none;
	font-family:serif2;
	font-size:22px;
	color:#FFF;
	background-color:#ee4f29;
	width:32px;
	height:38px;
	float:right;
	display:block;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom:4px;
}
.lang a:hover {
	position:relative;
	left:-2px;
	text-decoration: none;
	color: white;
}
.lang a.b {
	text-decoration: none;
	color:#d62d17;
}
header {
/*	float: left;*/
}
#main_page h2 {
	font-size:300%;
}
#main_page h3 {
}
#main_page h4 {
}
#main_page h5 {
}
#main {
	background-image:url(../img/divider01.png);
	background-repeat:repeat-x;
	background-position:bottom;
	color: #fff;
	padding:60px 0;
}
#main header {
	padding:20px 0;
}
#main article {
	padding:30px 0;
}
#main h2 {
	font-family:serif2;
	font-weight:normal;
}
#main h3 {
	font-family:serif1;
	font-weight:normal;
}
#main h4 {
	font-family:sans;
	font-weight:normal;
}
.text_icons {
	max-width:600px;
	margin:0 auto;
	font-family:serif2;
	font-size:120%;
}
.text_icons div {
	float:left;
	width:33.3%;
}
.sign_in_box {
	padding:30px 0;
}
/*operation*/

.red_decoration_left {
	padding-top:20px;
	float:left;
}
.red_decoration_right {
	padding-top:20px;
	float:right;
}
#operation {
	background-image:url(../img/bg_grey.jpg);
	background-repeat:repeat;
	padding:80px 0;
}
#operation article {
	position:relative;
	margin:80px 0;
}
#operation footer {
	margin:60px 0;
}
#operation h2 {
	font-family:serif2;
	font-weight:normal;
	color:#d43717;
}
#operation h3 {
	font-family:serif1;
	color:#666;
	font-weight:normal;
}
#operation h4 {
	color:#666;
	font-family:sans;
	font-weight:normal;
}
#partners {
	background-image:url(../img/bg_grey_low.jpg);
	background-repeat:repeat;
	color:#666;
	padding-bottom:80px;
}
#partners .partners_decoration {
	background-color:#FFF;
	background-image:url(../img/divider02.png);
	background-repeat:repeat-x;
	background-position:top;
	padding:80px 0;
}
#partners article {
	margin:80px 0;
}
#partners h2 {
	font-family:serif2;
	font-weight:normal;
	color:#d43717;
}
#partners h3 {
	font-family:serif1;
	color:#666;
	font-weight:normal;
}
#partners h4 {
	font-family:sans;
	color:#666;
	font-weight:normal;
}
#partners h5 {
	font-family:serif1;
	color:#666;
	font-weight:normal;
}
#partners .span4 {
	margin-bottom:20px;
}
#partners .span4 img {
	display:block;
	margin:0 auto 20px;
}
#partners span {
	font-family:sans;
	font-size:180%;
	color:#333;
	margin-bottom:20px;
	display:block;
}
#partners .join_partners {
	background-image:url(../img/grey_points.png);
	background-repeat:repeat-x;
	background-position:top;
	padding:60px 0 0;
}
.stores {
	position:absolute;
	top:100px;
	width:100%;
}
.store1, .store2 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#FFF;
	-webkit-box-shadow: 0px 8px 5px -5px #333;
	box-shadow:  0px 2px 8px -5px #333;
}
.left {
	float:left;
}
.right {
	float:right;
}
.store1 img, .store2 img {
	padding:5px 20px;
}
.store1 .top_curve, .store2 .top_curve {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color:#666;
	color:#FFF;
	padding:4px 0;
}
.legends {
	position:absolute;
	top:500px;
	height:100px;
	width:100%;
	font-family:sans_italic;
	color:#999;
	font-weight:bold;
}
.legends2 {
	width:100%;
	font-family:sans_italic;
	color:#999;
	font-weight:bold;
}
.legends .one {
	float:left;
	width:130px;
}
.legends .two {
	float:right;
	width:125px;
}
.legends2 .three {
/*	float:right;
	width:120px;*/
}
.decoration {
	margin-bottom:40px;
}
img.divider {
	width: 100% !important;
}
.put_sector {
	margin: 10px 0;
}
.put_sector input.enter_mail {
	background-color: #fdfdfd;
	width:90%;
	max-width:400px;
	font-family: serif1;
	height: 48px;
	font-size: 20px;
	color: #666;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: none;
	-webkit-box-shadow: 0 0 5px 5px #D6D6D6 inset;
	box-shadow:0 0 5px 5px #D6D6D6 inset;
	margin:10px 10px 10px 0;
	padding: 0 10px;
}
.put_sector .send_btn {
	font-family: serif2;
	font-size: 150%;
	height: 48px;
	width: 125px;
	background-color: #ec8f1f;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: none;
	-webkit-box-shadow: 0px 2px 5px -2px #333;
	box-shadow:  0px 2px 5px -2px #333;
}
.put_sector .send_btn:hover {
	-webkit-box-shadow: 0px 8px 5px -5px #333;
	box-shadow:  0px 2px 8px -5px #333;
}
#main_footer {
	background-image:url(../img/divider03.png);
	background-position:top;
	background-repeat:repeat-x;
	width: 100%;
	font-family: sans;
	color: #fff;/*	display:none !important;*/
	padding:80px 0;
}
#main_footer img {
	background-position:center;
}
#main_footer p {
	font-size:14px;
}
.made_in {
	float: left;
}
.socialize {
	float: right;
}
.socialize p {
	display: inline-block;
	padding-right: 20px;
	border-right: 1px solid #ccc;
}
.made_in p {
	margin: 10px 0
}
.made_in span {
	background-image: url('../img/heart.png');
	background-position: 0 0;
	color: #333;
	width: 24px;
	height: 22px;
	display: inline-block;
	text-align: center;
}
.socialize a {
	float: left;
	display: inline-block;
	margin: 15px 0 0 12px;
}
.socialize p {
	float: left;
	padding: 12px 15px;
	margin: 10px 0;
}
.socialize .twit {
	background-image: url(../img/twit_btn.png);
	background-position:top;
	width: 40px;
	height: 40px;
	display: inline-block;
}
.socialize .twit:hover {
	background-position:bottom;
}
.socialize .mail {
	background-image: url(../img/mail_btn.png);
	width: 40px;
	height: 40px;
	display: inline-block;
}
.socialize .mail:hover {
	background-position:bottom;
}
.socialize .likefb {
	background-image: url(../img/face_btn.png);
	background-position:top;
	display: inline-block;
	height: 40px;
	width: 40px;
}
.socialize .likefb:hover {
	background-position:bottom;
}
.info_top {
	margin-bottom:40px;
}
.info_bottom {
	margin-bottom:5px;
}
.info_bottom p {
	margin:0;
}
.credits {
	float:left;
	margin-bottom:5px;
}
.credits p {
	margin-top:18px;
}
.suppliers {
	float: right;
	text-align:right;
	margin-bottom:5px;
}
.suppliers p {
	display: block;
	float: none;
}
.suppliers a {
	color: orange;
}
.suppliers a:hover {
	color: orange;
}
/* = clearfix */
.clearfix {
	clear:both;
}
#maincontact .modal, #maincontact_mail .modal {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#wrapper .modal {
	width: 585px;
	background-color: #ffffff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.modal .header_modal {
	padding: 30px 0 0 30px;
	height: 90px;
}
.modal .header_modal p {
	font-size: 27px;
	color:#ed300d;
	font-family: serif2;
	margin:20px 0 0 0;
	display: inline-block;
}
.modal .signs {
	float: right;
	width: 175px;
	height: 90px;
	background-image: url('../img/sign01.png');
}
.data, .message {
	float: left;
	width: 49.5%;
	text-align: left;
}
.info_message {
	padding: 0 5% 5%;
}
.info_message p {
	color:#333;
	font-family: sans;
	height: 17px;
	margin:15px 0 15px 0;
}
.message textarea {
	width: 100%;
	height: 200px;
	border:none;
	font-family: sans_italic;
	font-size: 17px;
	color: #ccc;
	background-color: #f9f9f9;/*
	background-repeat: repeat-x;*/
}
.info_message input {
	border-bottom: 1px dotted #ccc;
	border-top: none;
	border-left: none;
	border-right: none;
	background: none;
	font-family: sans_italic;
	font-size: 17px;
	color: #ccc;
	margin-bottom: 10px;
}
.modal .put_sector {
	text-align:right;
}
.put_sector .send_btn_form {
	font-family: serif2;
	color: #333;
	font-size: 18px;
	height: 40px;
	width: 100px;
	background-color: #ec8f1f;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: none;
	-webkit-box-shadow: 0px 2px 5px -2px #333;
	box-shadow:  0px 2px 5px -2px #333;
}
.put_sector .send_btn_form:hover {
	-webkit-box-shadow: 0px 8px 5px -5px #333;
	box-shadow:  0px 2px 8px -5px #333;
}

::-webkit-input-placeholder {
 color: #ccc !important;
}

:-moz-placeholder {
 color: red;
}
 @media screen and (max-width : 480px) {
 #main header img {
 width:60%;
 height:60%;
}

 .menu-top nav{
	 text-align:center;
	 
 }

.menu-top nav a {
 font-size:80%;
 margin:0 5px;
}
.sign_in_box {
 padding:20px;
}
 #main {
 padding-top:80px;
 padding-bottom:0;
}
 #main article {
 padding: 15px 0;
}
 #operation {
padding:20px 0;
}
 #operation article {
 margin:20px 0;
}
 #operation footer {
 margin:30px;
}
 #partners article {
 margin: 20px 0;
}
 #partners span {
 font-size:120%;
}
 #partners .partners_decoration {
padding:20px 0;
}
 #main_page h2 {
font-size:150%;
line-height:140%;
}
 #main_page h3 {
line-height:110%;
font-size:110%;
}
 #main_page h4 {
font-size:100%;
}
 .text_icons div {
 font-size:80%;
}
 .legends {
width:100%;
font-family:sans_italic;
color:#999;
font-weight:bold;
position:relative;
top:0;
height:auto;
}
 .legends2 {
width:100%;
font-family:sans_italic;
color:#999;
font-weight:bold;
}
 .legends .one, .legends .two, .legends2 .three {
 float:none;
 width:100%;
 margin:20px 0;
}
 .stores {
width:100%;
position:relative;
text-align:center;
top:0;
margin:40px 0;
}
 .right {
 margin-top:-30px;
}
 .store1, .store2 {
 margin:10px 0;
}
 .store1 img, .store2 img {
 width:60%;
 height:60%;
 padding:5px 0px;
}
 .store1 .top_curve, .store2 .top_curve {
 font-size:80%;
 padding:0;
}
 #main_footer {
 padding:30px 0;
}
 .put_sector .send_btn {
 font-size:120%;
 padding:5px;
 height:100%;
 width:100%;
}
 .made_in, .socialize {
 float:none;
}
 .suppliers {
 float:none;
 text-align:center;
}
}
