<p class="center"><%=t('.msgtopick')%> <strong><%= pluralize(@orders.count, t('.regalo')) %></strong>.</p>
<br />

<div class="tabbable tabs-top">
 <ul class="nav nav-tabs">
   <li class="active">
	<a data-toggle="tab" href="#lA"><%=t('.recvs')%></a>
   </li>
   <li class="">
	<a data-toggle="tab" href="#lB"><%=t('.sent')%></a>
   </li>
   <li class="">
	<a data-toggle="tab" href="#lC"><%=t('.allrecvs')%></a>
   </li>
 </ul>
<div class="tab-content">
 <div id="lA" class="tab-pane active">
        <ul class="thumbnails">	  
	    <% @orders.each do |order| %>
            <li>
             <div class="thumbnail">
		 <% if order.okshop_at.nil? %>
			 <span class="label label-info"><%=t('.from')%>:</span> <%= order.user.name %><br />
			 <%= link_to image_tag("/images/gift-closed-ico.png", :width => 64, :height => 64, :class => "shopbut"), userpreview_order_path(order) %>
		 <% else %>
			 <%= link_to image_tag("/images/gift-open-ico.png", :width => 64, :height => 64, :class => "padbut"), userpreview_order_path(order) %>
		 <% end %>
		 <small><%order.id%></small>
             </div>
            </li>
	    <% end %>
        </ul>
	    <p><%= will_paginate @orders %></p>
 </div>
 <div id="lB" class="tab-pane">
	<ul class="thumbnails">
	   <% @orders_sent.each do |sent| %>
	    <li>
	     <div class="thumbnail">
		<% if sent.okshop_at.nil? %>
                        <span class="label label-info"><%=t('.to')%>:</span> <%= sent.beneficiary %><br />
			<%= link_to image_tag("/images/gift-closed-ico.png", :width => 64, :height => 64, :class => "shopbut"), userpreview_order_path(sent) %>
		<% else %>
			<%= link_to image_tag("/images/gift-open-ico.png", :width => 64, :height => 64, :class => "padbut"), userpreview_order_path(sent) %>
		<% end %>
                 <small><%sent.id%></small>
	     </div>
	    </li>
	   <% end %>
	</ul>
	   <p><%= will_paginate @orders_sent %></p>
 </div>
 <div id="lC" class="tab-pane">
        <ul class="thumbnails">
	 <% @orders_all.each do |rec| %>
            <li>
             <div class="thumbnail">
		<% if rec.okshop_at.nil? %>
			<span class="label label-info"><%=t('.from')%>:</span> <%= rec.user.name %><br />
			<%= link_to image_tag("/images/gift-closed-ico.png", :width => 64, :height => 64, :class => "shopbut"), userpreview_order_path(rec) %>
		<% else %>
			<%= link_to image_tag("/images/gift-open-ico.png", :width => 64, :height => 64, :class => "shopbut"), userpreview_order_path(rec) %>
		<% end %>
                 <small><%rec.id%></small>
             </div>
            </li>
	 <% end %>
        </ul>
	  <p><%= will_paginate @orders_all %></p>
 </div>
</div>
</div>

