<div class="depot_form">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <fieldset>
   <legend>Enter User Details</legend>
    <div>
    <%= f.label :nickname, 'Hoopy Nickname' %>
    <%= f.text_field :nickname, :size => 40 %>
    </div>
    <div>
    <%= f.label :name, 'Full name' %>
    <%= f.text_field :name, :size => 40 %>
    </div>
    <div>
    <%= f.label :image_url %>
    <%= f.text_field :image_url, :size => 40 %>
    </div>
    <div>
    <%= f.label :email %>
    <%= f.text_field :email, :size => 40 %>
    </div>
    <div>
    <%= f.label :provider %>
    <%= f.text_field :provider, :size => 40 %>
    </div>
    <div>
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, :size => 40 %>
    </div>
    <div>
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation, :size => 40 %>
    </div>
    <div>
    <%= f.submit %>
    </div>
 </fieldset>
<% end %>
</div>
