<% current_user.name.capitalize %>

<div id="box">
 <h3><%=t('.pending')%></h3>
 <% @shop_orders_pending.each do |rec| %>
  <div class="entry" >
        <% if rec.okshop_at.nil? %>
                <%= link_to image_tag("/images/gift-closed-ico.png", :width => 64, :height => 64, :class => "picgift"), dealerpreview_order_path(rec) %>
        <% else %>
                <%= link_to image_tag("/images/gift-open-ico.png", :width => 64, :height => 64, :class => "picgift"), dealerpreview_order_path(rec) %>
        <% end %>
     <br /><span class="label label-info"><%=t('.to')%>:</span> 
	<% if rec.provider_type == "twitter" %><a href="https://twitter.com/<%= rec.beneficiary %>">@<%= rec.beneficiary %></a><%else%><%= rec.beneficiary %><%end%>
	<span class="lastupdate">(<%= distance_of_time_in_words(Time.now, rec.created_at, true) %> <%=t('.ago')%>)</span>

     <br /><span class="label label-info"><%=t('.buy_date')%>:</span> <%= rec.created_at.strftime("%d %b %Y - %I:%M:%S %p") %> 
  </div>
  <br />
 <% end %>
</div>
<hr>

<div id="box">
 <h3><%=t('.all')%></h3>
 <% @shop_orders_delivered.each do |del| %>
  <div class="entry" >
        <% if del.okshop_at.nil? %>
                <%= link_to image_tag("/images/gift-closed-ico.png", :width => 64, :height => 64, :class => "picgift"), dealerpreview_order_path(del) %>
        <% else %>
                <%= link_to image_tag("/images/gift-open-ico.png", :width => 64, :height => 64, :class => "picgift"), dealerpreview_order_path(del) %>
        <% end %>
     <br /><span class="label label-info"><%=t('.to')%>:</span> 
        <%# Show @ for twitter accounts %>
	<% if del.provider_type == "twitter" %><a href="https://twitter.com/<%= del.beneficiary %>">@<%= del.beneficiary %></a><%else%><%= del.beneficiary %><%end%>
	<span class="lastupdate">(<%= distance_of_time_in_words(Time.now, del.created_at, true) %> <%=t('.ago')%>)</span    > 

     <br /><span class="label label-info"><%=t('.buy_date')%>:</span> <%= del.created_at.strftime("%d %b %Y - %I:%M:%S %p") %> 
  </div>
  <br />
 <% end %>
</div>

