<div id="product_list">
<h1>Listing users</h1>

  <% if notice %>
	<p id="notice"><%= notice %></p>
  <% end %>


<table class="table table-striped table-hover">
<% @users.each do |user| %>
  <tr>
    <td><%= image_tag(user.image_url, :width => 50, :height => 50) %>
        <%= user.id %>
    </td>
    <td>
	<b>UID:</b> <%= user.uid %> <br />
	<b>Nickname:</b> <%= user.nickname %> <br />
	<b>Name:</b> <%= user.name %> <br />
	<b>Hashed password:</b> <%= user.hashed_password %> <br />
	<b>Salt:</b> <%= user.salt %>  <br />
	<b>E-mail:</b> <%= user.email %>  <br />
	<b>Provider:</b> <%= user.provider %>  <br />
	<b>Created:</b> <%= user.created_at %>  <br />
	<b>Updated:</b> <%= user.updated_at %>  
    </td>
    <td><%= link_to image_tag("/images/ico-about.png", :width => 16, :height => 16), user %> <br />
        <%= link_to image_tag("/images/ico_pencil.gif", :width => 16, :height => 16), edit_user_path(user) %><br />
        <%= link_to image_tag("/images/ico_dialog-close.png", :width => 16, :height => 16), user, :method => :delete, :confirm => 'Are you sure?' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
