<% if notice %>
 <p id="notice" ><%= notice %></p>
<% end %>

<p><%= image_tag(@user.image_url, :width => 50, :height => 50) %></p
<p><b>ID:</b> <%= @user.id %></p>
<p><b>UID:</b> <%= @user.uid %></p>
<p><b>Nickname:</b> <%= @user.nickname %></p>
<p><b>Name:</b> <%= @user.name %></p>
<p><b>Hashed password:</b> <%= @user.hashed_password %></p>
<p><b>Salt:</b> <%= @user.salt %></p>
<p><b>E-mail:</b> <%= @user.email %></p>
<p><b>Provider:</b> <%= @user.provider %></p>
<p><b>Location:</b> <%= @user.location %></p>
<p><b>Description:</b> <%= @user.description %></p>
<p><b>Created:</b> <%= @user.created_at %></p>
<p><b>Updated:</b> <%= @user.updated_at %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
