 <%= image_tag(current_user.image_url, :id => 'avatar', :width => 50, :height => 50) %>
 <h2 class="center"><%=t('.bienvenido')%></h2>
 <span class="label"><%= current_user.name.upcase %></span>
 <% debug(current_user.uid) if Rails.env.development? %>
 <hr>

                <% if notice %>
                 <div class="alert alert-success" ><%= notice %>
                    <button data-dismiss="alert" class="close" type="button">x</button>
                 </div>
                <% end %>

                <% if alert %>
                 <div class="alert alert-error" ><%= alert %>
                    <button data-dismiss="alert" class="close" type="button">x</button>
                 </div>
                <% end %>


<% if current_user.type_id == 2 %>
	<%= render 'shopview' %>
<% end %>

<% if current_user.type_id.nil? %>
        <%= render 'customerview' %>
<% end %>

<% if current_user.type_id == 1 %>
        <%= render 'customerview' %>
<% end %>
