
<p><%=t('.fbcomplete')%> :-) </p>

<div class="ui-widget">
        <%= text_field_tag :fbfriend_name, params[:fbfriend_name], :size => 26, :value => @friend, :autocomplete => 'off' %>
        <%= text_field_tag :fbfriend_num, params[:fbfriend_num], :size => 26, :type => 'hidden' %>
</div>

<p><a href="https://graph.facebook.com/me/friends?access_token=<%= current_user.fbtoken %>"></a></p>


  <script>
    $(function() {
	// http://jsfiddle.net/ZGmyp/	<- City example
	// http://jsfiddle.net/ALyse/   <- Hoopy sandbox FB-friends (update ACCESS-TOKEN)
	// http://jqueryui.com/demos/autocomplete/#custom-data
      $( "#fbfriend_name" ).autocomplete({
        source: function( request, response ) {
        $.ajax({
          url: "https://graph.facebook.com/me/friends?access_token=<%= current_user.fbtoken %>&callback=?",
          dataType: "jsonp",
          data: {
            featureClass: "P",
            style: "full",
            maxRows: 6,
            name_startsWith: request.term
          },
          success: function( data ) {
            res = $.map( data.data, function( item ) {
              if (item.name.toLowerCase().indexOf(request.term.toLowerCase()) >= 0){
                return {
                  label: item.name,
                  value: item.name,   // Quitar id, poner name.   id a form
                  idvalue: item.id
                }
              }
            });
            response(res);
          }
        });
      },
      minLength: 1,
      select: function( event, ui ) {
         console.log( ui.item ?
         "Selected: " + ui.item.label :
         "Nothing selected, input was " + this.value);
         $( "#fbfriend_num" ).val( ui.item.idvalue );
         //alert( item.uid );
         //return false;
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
      });
//      .data("autocomplete")._renderItem = function( ul, item ) {
//          console.log(item);
	 // OJO: Para la foto: cambiar item.value => item.idvalue
//          var image_url = "http://graph.facebook.com/" + item.value +"/picture";
//          return $( "<li>" )
//            .append($("<img style='float:left'>").attr('src',image_url))
//            .append( $( "<a>" ).text( item.label ) )
          //.append( $( "<a>" ).text( item.value ) )
//            .appendTo( ul );
//      };
    });
    </script>

