<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-block alert-error fade in" ><%= notice %>
      <button data-dismiss="alert" class="close" type="button">×</button>
	<h2><%= t('errors.template.header', :count=>@order.errors.size, :model=>t('activerecord.models.order')) %>.</h2>
	<p><%= t('errors.template.body') %></p>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= raw msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="avatar-order">
  <% image_tag('hoopypet-1color.png', :id => 'avatar', :width => 50, :height => 50) %>
  </div>

  <!-- Selec de RedSocial -->
 <% if current_user.fbtoken && current_user.provider == "facebook" %>
          <%= f.hidden_field :provider_type, :value => "facebook" %>
                <p><i class="icon-facebook-sign"></i> <%= @sessionfriend_fb_name %></p>
		<% debug(@sessionfriend_fb_num) if Rails.env.development? %>
          <%= f.hidden_field :beneficiary, :size => 26, :value => @sessionfriend_fb_name, :autocomplete => 'off' %>
          <%= f.hidden_field :beneficiary_uid, :size => 26, :value => @sessionfriend_fb_num, :autocomplete => 'off' %>
 <% else %>
 <% end %>

 <% if current_user.provider == "twitter" %>
		<p><i class="icon-twitter-sign"></i> @<%= @sessionfriend %></p>
	  <%= f.hidden_field :provider_type, :value => "twitter" %>
	  <%= f.hidden_field :beneficiary, :size => 26, :value => @sessionfriend, :autocomplete => 'off' %>
 <% else %>
 <% end %>

<% if current_user.provider == "hoopy" %>
                <p><i class="icon-gift"></i> <%= @sessionfriend %></p>
          <%= f.hidden_field :provider_type, :value => "hoopy" %>
          <%= f.hidden_field :beneficiary, :size => 26, :value => @sessionfriend %>
<% else %>
<% end %>
  <!-- Selec de RedSocial -->

  <div class="field">
    <%= f.label :email, t('.mailnotice') %>
    <%= f.text_field :email, :size => 20, :value => '' %>
  </div>
  <div class="field">
    <%= f.label :email, t('.message') %>
    <%= f.text_area :msg, :rows => 3, :cols => 30, :value => '' %>
  </div>
  <div class="field">
    <%= f.hidden_field :pay_type, :value => "Hoopy Points" %>
  </div>
  <div class="field">
    <%= f.hidden_field :codrecgift, :size => 20, :value => rand(1000000) %> 
  </div>
  <div class="actions">
    <%= f.submit t('.submit'), :class => "btn btn-large btn-success", :disable_with => t('.wait') %>
  </div>
<% end %>
