                <% if notice %>
                 <div class="alert alert-success" ><%= notice %>
                    <button data-dismiss="alert" class="close" type="button">x</button>
                 </div>
                <% end %>

                <% if alert %>
                 <div class="alert alert-error" ><%= alert %>
                    <button data-dismiss="alert" class="close" type="button">x</button>
                 </div>
                <% end %>


<div id="box">
 <h1><%=t('.order')%></h1>

  <div id="mensaje">
	<div class="right"> <%=t('.buy_date')%>: <%= @order.created_at.strftime("%d %b %Y - %I:%M:%S %p") %> </div>
	<p>
	        <% if @order.okshop_at.nil? %>
		  <div class="status-pend"><%=t('.ready_topick')%></div>
	        <% else %>
	          <div class="status-ok"><%=t('.delivered')%></div>
	        <% end %>
	  <br />
	</p>

	<%= render @order %>
        <br />
  </div>
        <br />

        <% if @order.okshop_at.nil? %>
		<h1><%=t('.info_to_deliver')%></h1>
		<p>
		   <strong><%=t('.codok_shop')%></strong>:
                   <%= form_for(@order) do |o| %>
                     <%= o.text_field :codrecgift, :size => 10, :value => params[:c] %>
                     <%= o.hidden_field :okshop_at, :value => Time.now %>
                     <%= o.submit t('.confirm_delivery'), :confirm => t('.sure') %>
                   <% end %>
                   <%# The form below is obsolete, but kept as possible reference %>
		   <% form_tag deliver_path(@order), :method => :post do %>
		     <%= text_field_tag :codrecgift, @order.codrecgift, :size => 10 %>
		     <%= hidden_field_tag :hashed_id, @order.hashed_id %>
		     <%= submit_tag t('.confirm_delivery') %>
		   <% end %>
		</p>
		<p>* <%=t('.confirm_notice')%></p>

        <% else %>
                        <div id="sticker-table">
                        <ul>
                                <li>
                                        <ul>
                                            <li class="r"><%=t('.shop_delivery')%></li>
                                        </ul>
                                        <ul>
                                            <li class="l"><%= @order.okshop_at %></li>
                                        </ul>
                                </li>
                                <li>
                                        <ul>
                                            <li class="r"><%=t('.client_confirmation')%></li>
                                        </ul>
                                        <ul>
                                            <li class="l"><%= @order.okuser_at %></li>
                                        </ul>
                                </li>
                        </ul>
                        </div>
        <% end %>
</div>
