<div id="product_list">
<h1>Listado de Pedidos</h1>

<table>
<% @orders.each do |order| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= order.id %></td>
    <td>
     <strong>Para (.name):</strong> <%= order.name %> [<%= order.provider_type %>] <br />
     <strong>De (.user_id):</strong> <%= order.user_id %> <br />
     <strong>Enterprise (.enterprise_id):</strong> <%= order.enterprise_id %> <br />
     <strong>Mensaje:</strong> <%= order.msg %> <br />
     <strong>e-mail:</strong> <%= order.email %> <br />
     <strong>CodRecGift:</strong> <%= order.codrecgift %> <br />
     <strong>Tipo de Pago:</strong> <%= order.pay_type %>
    </td>
    <td>
     <%= link_to image_tag("/images/ico-about.png", :width => 16, :height => 16), order %>
     <%= link_to image_tag("/images/ico_pencil.gif", :width => 16, :height => 16), edit_order_path(order) %>
     <%= link_to image_tag("/images/ico_dialog-close.png", :width => 16, :height => 16), order, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Order', new_order_path %>
