<% if notice %>
 <div class="alert alert-block alert-success fade in" ><%= notice %>
    <button data-dismiss="alert" class="close" type="button">×</button>
 </div>
<% end %>

   <div class="row">
         <div class="span6 pagination-centered">
<p><a href="welcome" class="btn btn-large"><i class="icon-home"></i><%= t('.back_to_home') %></a></p>
        </div>
         <div class="span6 pagination-centered">
<p><a href="selectfriend" class="btn btn-large"><i class="icon-gift"></i><%= t('.send_another_gift') %></a></p>
	</div>
   </div>
