<% if notice %>
 <div class="alert alert-block alert-success fade in" ><%= notice %>
    <button data-dismiss="alert" class="close" type="button">×</button>
 </div>
<% end %>

   <div class="row">
         <div class="span12 pagination-centered">

        <%= form_tag do %>
                <fieldset>
                        <legend><%= t('.legend') %></legend>

  <!-- Nueva Selec de RedSocial -->
				 <% if current_user.fbtoken && current_user.provider == "facebook" %>
				        <p><%= t('.select_friend') %> <span class="label label-info">Facebook</span></p>
					<%= render 'fbfriendselector' %>
				 <% else %>
				 <% end %>

				 <% if current_user.provider == "twitter" %>
					<div>
					<p><%= t('.select_friend') %> <span class="label label-info">Twitter</span></p>
					  <div class="field">
					    <div class="input-prepend">
					     <span class="add-on">@</span><%= text_field_tag :nickname, params[:nickname], :size => 26, :value => @friend, :autocomplete => 'off' %>
					    </div>
					  </div>
					</div>
				 <% else %>
				 <% end %>
  <!-- Nueva Selec de RedSocial -->
                                 <% if current_user.provider == "hoopy" %>
                                        <p><%= t('.select_friend') %> <span class="label label-info">Huupy</span></p>
                                          <div class="field">
                                            <div class="input-prepend">
                                             <%= text_field_tag :nickname, params[:nickname], :size => 26, :value => @friend, :autocomplete => 'off' %>
                                            </div>
                                          </div>
                                 <% else %>
                                 <% end %>

                        <div>
                                <%= submit_tag "Next", :class => "btn btn-success btn-large" %>
                        </div>
                </fieldset>
        <% end %>

        </div>
   </div>
