<% if notice %>
 <p id="notice" ><%= notice %></p>
<% end %>

<h1>Datos de env&iacute;o</h1>

<div id="mensaje">
	<p>
	 <b>De:</b>
	  <%= @user.nickname.upcase %> en <%= @user.provider.capitalize %> <br />
	 <b>Para:</b>
	  <%= @order.name.upcase %> en <%= @order.provider_type.capitalize %> (<em><%= @order.email %></em>)
	</p>

	 <b>Forma de pago:</b>
	  <%= @order.pay_type %> <br />

  <div class="content">
        <p>
          Mensaje personalizado:<br />
          <%= @order.msg %>
        </p>
  </div>
</div>

<h1>Regalos enviados</h1>

<%= render @order %>

<p>
  Fecha de Compra: <%= @order.created_at %>
  <br />
  ¿Entregado?:
        <% if @order.okshop_at.nil? %>
         <strong>Pendiente</strong>
        <% else %>
         OK
        <% end %>
  <br />
  Conformidad del cliente:
        <% if @order.okuser_at.nil? %>
         <strong>Pendiente</strong>
        <% else %>
         OK
        <% end %>
</p>

        <% if current_user %>
        <% if current_user.type_id == 1 %>
		<p><%= link_to 'Ver cómo lo vera el destinatario', userpreview_order_path(@order) %></p>
		<p><%= link_to 'Ver cómo lo vera el establecimiento', dealerpreview_order_path(@order) %></p>
		<p><%= link_to 'Edit', edit_order_path(@order) %></p>
	<% end %>
	<% end %>
