<% if notice %>
 <p id="notice" ><%= notice %></p>
<% end %>

<div id="box">
 <h1><%= t('.for') %>: <strong><%= @order.beneficiary.upcase %></strong></h1>

 <div id="mensaje">
    <b><%=t('.from')%>:</b> <%= @user.nickname.upcase %> 
    <div class="right"> <%= @order.created_at.strftime("%d %b %Y - %I:%M:%S %p") %> </div>

    <div class="content"> 
    <%= @order.msg %>
    </div>

    <div class="gift">
      <%= render @order %>
    </div>

     <%= image_tag(@order.enterprise.logo_url)%>
 </div>
 <br />
 
    <%# THIS WORKS WITH TWITTER FOR NOW %>
    <%# Now We show the picking up info also to the Sender just in case! %>
    <%#if @order.provider_type == "Facebook" || @order.provider_type == "Twitter" %>
        <%# if @order.okuser_at.nil? && @order.beneficiary_uid.to_s() == current_user.uid %>
        <% if @order.okuser_at.nil? %>
		<h1><%=t('.info_to_pick')%></h1>
		<p>
		 1) <%=t('.info_1')%> <br />
		 2) <%=t('.info_2')%> <br />
		 3) <%=t('.info_3')%> 
		</p>
                <div id="mensaje">
                <% unless @order.okshop_at.nil? %>
                   <%= form_for(@order) do |o| %>
                     <%= o.hidden_field :okuser_at, :value => Time.now %>
                     <%= o.submit t('.recv_ok'), :confirm => t('.sure') %>
                   <% end %>
                <% end %>
                </div>
		<p id="notice">
		  <% image_tag("/images/code-bars.png") %>
		  <% image_tag("/images/code-qr.png", :width => 120, :height => 120) %>
		  <%= image_tag("https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=#{@url}&choe=UTF-8") %>
		  <% image_tag("/images/code-mstag.jpg", :width => 120, :height => 120) %>   <br />
		  <%=t('.codok_shop')%>: <b><%= @order.codrecgift %></b>
                  <small><a href="<%=@url%>">direct link</a></small>
		</p>
        <% elsif @order.okshop_at.nil? %>
                <p><%=t('.shop_not_confirmed')%>.</p>
	<% elsif @order.okshop_at %>
                <p><%= @order.beneficiary.upcase %> <%=t('.shop_confirmed')%>.</p>
        <% else %>
                <p><strong><%=t('delivered')%></strong></p>

                        <div id="sticker-table">
			<ul>
                                <li>
                                        <ul>
                                            <li class="r"><%=t('.shop_delivery')%></li>
                                        </ul>
                                        <ul>
                                            <li class="l"><%= @order.okshop_at %></li>
                                        </ul>
                                </li>
                                <li>
                                        <ul>
                                            <li class="r"><%=t('.client_confirmation')%></li>
                                        </ul>
                                        <ul>
                                            <li class="l"><%= @order.okuser_at %></li>
                                        </ul>
                                </li>
			</ul>
                        </div>

        <% end %>
    <%#end%> <%# /@order.provider_type == "Facebook"%>
</div>
