<%= image_tag("/images/shopping_cart.png", :width => 31, :height => 30) %>

   <%= render(cart.line_items) %>
   <p>Total: <%= number_to_currency(cart.total_price) %></p>
       <table>
         <tr>
  	  <td>
	   <%= button_to t('.checkout'), new_order_path, :method => :get, :class => "btn btn-success" %>
	  </td>
	  <td>
           <%= button_to t('.empty'), cart, :method => :delete, :confirm => t('.confirm'), :class => "btn btn-danger" %>
          </td>
         </tr>
       </table>

