<div id="product_list">
<h1>Listing enterprises</h1>

<table>
<% @enterprises.each do |enterprise| %>
   <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= enterprise.id %></td>
    <td><b>Name:</b> <%= enterprise.name %><br />
        <b>Logo:</b> <%= enterprise.logo_url %><br />
        <%= image_tag(enterprise.logo_url, :class => 'list_image') %>
    </td>
    <td><%= link_to image_tag("/images/ico-about.png", :width => 16, :height => 16), enterprise %>
    <%= link_to image_tag("/images/ico_pencil.gif", :width => 16, :height => 16), edit_enterprise_path(enterprise) %>
    <%= link_to image_tag("/images/ico_dialog-close.png", :width => 16, :height => 16), enterprise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enterprise', new_enterprise_path %>
