<% if notice %>
 <p id="notice" ><%= notice %></p>
<% end %>

 <h1><%= @enterprise.name %></h1>

<div id="catalog" class="isotope">
 <ul class="thumbnails">

 <% @enterprise.products.each do |product| %>

   <li class="item">
        <div class="thumbnail">
         <div id="avatar"><% image_tag(@enterprise.logo_url, :height => 60, :width => 60) %></div>
         <%= image_tag(product.image_url, :height => 110, :width => 110) %>
         <div class="caption">
          <h5><%= product.title %></h5>
          <span class="badge"><%= number_to_currency(product.price) %></span>
          <p><% sanitize(product.description) %></p>
          <p>
            <%= button_to t('.add_html'), line_items_path(:product_id => product), :remote => true, :disable_with => t('.but_sending'), :class => "btn btn-primary" %>
          </p>
         </div>
        </div>
   </li>

 <% end %>

 </ul>
</div>

<% if current_user.type_id == 1 %>
	<%= link_to 'Edit', edit_enterprise_path(@enterprise) %> |
	<%= link_to 'Back', enterprises_path %>
<% end %>
