/* Global styles */

$main-color: #114411;

/* HM: Smooth Footer */
        html, body {
            height: 100%;
        }
        footer {
            padding: 17px 0 18px 0;
        }
        .wrapper {
            min-height: 100%;  /* This NAVBAR is not so big*/
            height: auto !important;
            height: 100%;
            margin: 0 auto -23px;
        }
        .push {
            height: 23px;
        }

#tags {
    background: -moz-linear-gradient(center top , #F0F6FC, #CDDFF1) repeat scroll 0 0 transparent;
    border: 1px solid #A1B8D6;
    border-radius: 32px 32px 32px 32px;
    box-shadow: 0 1px 1px #FFFFFF;
    color: #4D5765;
    font-size: 12px;
    font-weight: bold;
    margin: 0 2px 0 0;
    padding: 3px 8px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    width: -moz-fit-content;
    display: -moz-inline-box;
}

#box {
	border-radius: 15px 15px 0px 0px;
	border: 1px solid lighten(black, 70%);
	padding: 5px;
	background-color: white;
}
.lastupdate {
  color: gray;
  font-weight: 900;
  font-size: 0.9em;
}
.shopbut {
    padding: 10px;
}
.shopbut:hover {
    background-color: #e5;
    height: 70px;
    width: 70px;
}
.padbut {
    padding: 10px;
}
#banner {
	background: #9c9;
	background-color: #37940E;
	padding-top: 10px;
	padding-bottom: 10px;
	/* border-bottom: 2px solid; */
	font: small-caps 40px/40px "Times New Roman", serif;
	color: white;
	text-align: center;
}

#banner img {
	float: left;
}

#columns {
/*	background: #141; */
}

#main {
/*	margin-left: 11em;
	padding-top: 2ex;
	padding-left: 2em;
	background: white; */
}

#side {
	color: white;
	/* background: #141; */
}

#side a {
	color: #bfb; 
	font-size: small;
}

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}
#store h1 {
        font:  150% sans-serif;
	font-weight: bold;
        /* color: #226; */
        color: #141; 
	/* color: #296F0A; */

        border-bottom: 3px inset #141;
}
#store .entry form, #store .entry form div {
	display: inline;
}
#store .cart_title {
	font: 120% bold;
}
#store .item_price, #store .total_line {
	text-align: right;
}
#store .total_line .total_cell {
	font-weight: bold;
	border-top: 1px solid #595;
}
#store .sku {
	border-style: dashed;
        border-width: 1px;
        background-color: #f5f5f5;
	padding: 3px;
	font-size: x-small;
}
#store .sku:hover {
	padding: 20px;
	font-size: large;
}


/* Styles for products/index */

#product_list table {
     /*   border-collapse: collapse; */
}

#product_list table tr td {
        padding: 5px; 
        vertical-align: top;
	border-bottom: 1px groove $main-color;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #ffffff;
}
#product_list .list_line_even:hover {
  background:   #f5f5f5;
}

#product_list .list_line_odd {
  background:   #fbf8f9;
}
#product_list .list_line_odd:hover {
  background:   #f5f5f5; 
}
#product_list .mensaje {
  margin-top: 0.5em;
  margin-left: 8em;
/*  border: 1px dashed silver; */
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: silver; 
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  padding: 15px;
/*  background-color: #f9f9f9; */
  background-color: white;
}

/* An entry in the store catalog */

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store  .entry {
  overflow: auto;
  border-bottom: 1px groove #141;
  /* padding-top: 15px; */
  padding: 15px;
}
#store  .entry:hover {
  overflow: auto;
  -top: 1em;
  background: #f5f5f5;
  padding: 30px;
  /* border-color: lighten(black, 50%); */
  /* border-style: dashed; */
  /* border-width: 1px; */
}
#store .entry .msg {
  float: right;
  color: green;
  text-weight: bold;
}
#store .entry .picgift {
  padding: 10px;
  border-width: 0px;
}
#store .entry img {
  /* width: 80px; */
  margin-right: 15px;
  margin-bottom: 5px;
  float: left;
  /* border-style: dotted; */
  /* border-color: #707070; */
  /* border-width: 1px; */
}
#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}
#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}
#store .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}
#store .entry .add_to_cart {
  position: relative;
}
#store .entry  .price {
  color: #141;
  font-weight: bold;
  margin-right: 2em;
  padding-left: 16px;
}
#store .entry .ent_logo {
  float: right;
  border-width: 0px;
  width: 80px;
}


#hoopy-header-bar {
    padding-top: 10px;
    background-attachment: scroll;
/*    background-color: #37940E;  */
    background-color: #266609;  
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #030900;
    border-bottom-style: hidden;
    border-bottom-width: 1px;
    border-radius: 15px;
    height: 67px;
    font: small-caps 40px/55px Tahoma, Helvetica, Arial;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em; 
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
#hoopy-header-bar img {
    float: left;
    margin-left: 20px;
}

.hoopy-footer-bar {
/*    border-top-color: #DDFAD0; */
    border-top-color: #266609; 
    border-top-style: solid;
    border-top-width: 1px;
/*    background-color: #F1FDEC;  */
    background-color: black;  
    bottom: 0;
    padding: 5px;
    position: fixed;
    width: 100%;
    font-size:8px;
    font-family:verdana, arial, helvetica, sans-serif;
    margin:0px 0px 0px 0px;
    color: white;
    text-align:center;	
}

#mensaje {
  border-color: silver;
  border-width: 1px;
  padding: 10px;
  border-style: solid;  
}
#mensaje .content {
  margin-top: 0.5em;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: silver;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  padding: 15px;
  background-color: #f9f9f9;
}
#mensaje .gift {
  padding: 15px;
}
#mensaje .right {
  float: right;
  font-size: x-small;
}
#mensaje .status-ok {
  -moz-transform: rotate(-10deg);
  margin-top: 40px;
  padding: 45px;
  color: green; 
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  /* text-shadow: 1px 1px white, -1px -1px #444 */
  text-shadow: -1px -1px white, 1px 1px #333
}
#mensaje .status-pend {
  margin-top: 40px;
  padding: 45px; 
  color: black;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
#avatar {
  float: right;
  border: 1px solid lighten(black, 70%);
  border-radius: 5px 5px 5px 5px;
  padding: 3px;
  /* margin-top: -7px; */
  /* background: lighten($main-color, 20%); */
}

#sticker-table {
   border-bottom-right-radius: 35px;
   border-top-right-radius: 0px;
   border-width: 1px;
   background: black;
}
#sticker-table ul { 
   list-style-type: none;
   vertical-align: middle;
   margin: 0 auto;
   position: relative;
   text-align: right;
   border-style: hidden;
   border-width: 1px;
   display: table-cell;
}
#sticker-table ul li .l {
   text-align: left;
   display: table-cell; /* display: list-item; */
   width: 100px;
   /* border-style: hidden solid solid hidden; */
   border-width: 1px;
   padding: 5px;
   background: white;
}
#sticker-table ul li .r {
   text-align: right;
   display: table-cell; /* display: list-item; */
   width: 160px;
   padding: 5px;
   border-style: hidden;
   color: white;
   font-weight: bold;
}

#logbutton {
  position: right;
}
#logbutton:hover {
}

#navbar {
  z-index: 100;
}
#navbar .navmain {
  background: url("/images/nav.png") repeat-x scroll 0 0 #333333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    margin: 0 auto;
    min-height: 45px;
    padding: 0 0 0 10px;
    position: relative;
    text-transform: uppercase;
}
#navbar .navmain .nuevos {
    color: gold;
    text-weight: bold;
    font-size: x-small;
    position: absolute;
    margin-left: 102px;
    margin-top: 12px;
}
#navbar .navmain ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbar .navmain ul li {
    float: left;
}
#navbar .navmain ul li a {
    background: url("navline.png") no-repeat scroll right center transparent;
    color: #EEEEEE;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 13px 17px 12px 15px;
    text-decoration: none;
    text-shadow: 1px 1px #000000;
}
#navbar .navmain ul li a:hover {
    background: url("navhov.png") repeat scroll center top #333333;
    color: #EEEEEE;
    line-height: 18px;
}
#navbar .navsub {
   padding: 10px;
   background: #f5f5f5;
   font-size: 70%;
}
#navbar .navsub .right {
   margin-top: -10px;
   font-size: x-small;
   float: right;
}
#welcome {
   text-align: center;
   /* background: white; */
}
#welcome .left {
   float: left;
   padding-top: 30px;
}
#welcome .right {
   float: right;
   padding-top: 10px;
}
#welcome .center {
   margin: 0 auto;
   width: 50%;
}
#locale {
   float: right;
   margin-right: 15px;
}
#footer {
   font-size: xx-small;
   padding: 5px;
   text-align: center;
}
#roundsection {
   border-width: 3px;
   border-color: #141;
   border-radius: 15px;
   border-style: solid;
}
#nota {
   font-size: x-small;
}
#but {
   float: left;
   width: auto;
}
