<div id="product_list">
  <h1>Listing products</h1>

  <table>
  <% @products.each do |product| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

      <td>
        <%= image_tag(product.image_url, :class => 'list_image') %>
      </td>

      <td>
        <dl>
          <dt><b><%= product.title %></b></dt>
          <dd><%= truncate(strip_tags(product.description),
                 :length => 80) %></dd>
        </dl>
      </td>

      <td>
        <%= link_to image_tag("/images/ico-about.png", :width => 16, :height => 16), product %><br/>
        <%= link_to image_tag("/images/ico_pencil.gif", :width => 16, :height => 16), edit_product_path(product) %><br/>
        <%= link_to image_tag("/images/ico_dialog-close.png", :width => 16, :height => 16), product, 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'New product', new_product_path %>
