<table>
   <tr>
     <td><strong><%= line_item.quantity %>&times;</strong></td>
     <td><%= line_item.product.title %></td>
     <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
   </tr>
</table>
