<% if notice %>
 <div class="alert alert-block alert-error fade in" ><%= notice %>
    <button data-dismiss="alert" class="close" type="button">×</button>
	<%= render @cart %>
 </div>
<% end %>

<div id="catalog" class="isotope">
 <ul class="thumbnails">

 <% @products.each do |product| %>

       <div class="item">
	<div class="thumbnail">
         <div id="avatar"><% link_to image_tag(product.enterprise.logo_url, :height => 60, :width => 60), product.enterprise %></div>
	 <%= image_tag(product.image_url, :height => 110, :width => 110) %>
	 <div class="caption">
	  <h5><%= product.title %></h5>
          <span class="badge"><%= number_to_currency(product.price) %></span>
	  <p><% sanitize(product.description) %></p>
	  <p>
            <%= button_to t('.add_html'), line_items_path(:product_id => product), :remote => true, :disable_with => t('.but_sending'), :class => "btn btn-primary" %>
	  </p>
         </div>
        </div>
       </div>

 <% end %>

 </ul>
</div>


 <br />
