<% if notice %>
 <div class="alert alert-block alert-danger fade in" ><%= notice %>
    <button data-dismiss="alert" class="close" type="button">×</button>
 </div>
<% end %>

<div class="row-fluid">

 <div id="welcome">	
        <% image_tag("/images/hoopy_website.#{I18n.locale}.png") %> 

   <div class="hero-unit">
        <% if current_user %>
           <h1><%=t('.bienvenido')%></h1>
           <p><%=t('.hola')%> <%= current_user.nickname.upcase %>!</p>
        <% else %>
	<div class="row">
	  <div class="span6">
           <%= image_tag("/assets/hoopypet2.png") %>                    
          </div>
          <div class="span6">
           <h1>Huupy</h1>
           <p><%= t('.intro') %></p>
          </div>
	</div>
   </div>

   <div class="row">
	 <div class="span4">
           <p><a href="#" class="btn btn-primary btn-large signup"><i class="icon-twitter-sign"></i><%= t('.signin_with_twitter') %></a></p>
	 </div>
         <div class="span4">
           <p><a href="/auth/facebook" class="btn btn-primary btn-large signup"><i class="icon-facebook-sign"></i><%= t('.signin_with_facebook') %></a></p>
         </div>
         <div class="span4">
           <p><a href="/login" class="btn btn-primary btn-large signup"><i class="icon-gift"></i><%= t('.signin_with_hoopy') %></a></p>
         </div>
   </div>

        <% end %>
 </div>
</div>
